---
interface Props {
    date: string;
    user: string;
    title: string;
    tags: string;
}

const {date, user, title, tags} = Astro.props;
---

<div>
  <p>{date} | {user} | {tags}</p>
  <h1>{title}</h1>
  <!-- <p>{description}</p> -->
</div>
