---
import Heading from "./Heading.astro";

// const date = "December 19, 2024";
// const user = "Mary T";
// const title = "Finding willing banks";
// const tags = ["housing", "finance"];
// const description = "Ive personally observed that finding banks who are even willing to lend is quite hard. These observations have been reflected in data collected by the Nigerian Morgage Institue who found in 2020, that only 2% of banks offer finance producs. "
// const references = "Ref 1"

const { date, user, title, tags, description, references } = Astro.props;
---

<div>
  <Heading date={date} user={user} title={title} tags={tags} />
  <p>{description}</p>
  <p>{references}</p>
</div>
